@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* header style start from here  */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

/* header style end  */


/* main style start from here  */

/* first section start  */

.hero-bg{
    background-image: url("https://amanullah-coder.github.io/assignment-01/assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 650px;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 4462px;
}


.hero-sec-img{
    margin-top: 18px;
    width: 240,28px;
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero-sec-title{
    color: rgb(9, 14, 24);
    font-size: 36px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}

.hero-sec-des{
    color: rgb(9, 14, 24);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 12px;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* first section end  */


/* second section start  */

.second-sec-content{
    background-color: rgba(247, 247, 247, 0.886);;
    border: 38px solid rgba(247, 247, 247, 0.858);
    margin-top: 28px;
    text-align: center;
    
}

.box-1{
    /* border: 50px solid rgba(247, 247, 247, 0.829); */
    margin-top: 2px;
    display: flex;
    justify-content: center;
    
}

.box-2{
    /* border: 48px solid rgba(247, 247, 247, 0.829); */
    margin-top: 2px;
    display: flex;
    justify-content: center;

}

.box-3{
    border: 50px solid rgba(247, 247, 247, 0.829);
    margin-top: 2px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.box-btn{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.9;
    background-color: white;
}

.box-btn{
    height: 34px;
    width: 120px;
    padding: 8px;

}
/* second section end  */


/* third section start from here  */

.inspiration{
    text-align: center;
    margin-top: 80px;
}

.yt-video{
    border: 1px solid white;
    text-align: center;
    display: block;
    justify-content: center;
    padding: 0;
    margin-top: 5px;
}

iframe{
    border-radius: 16px;
}

/* third section end here  */


/* fourth section style start here  */

.current-target{
    display: block;
    text-align: center;
    justify-content: center;
    border: 35px solid white;
}

/* fourth section style end here  */


.fifth-sec{
    margin: 10px;
    border: 25px;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center
}

.html{
    border: 10px solid white;
    margin: 11px;
    padding: 22px;
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05)
}

.css{
    border: 10px solid white;
    margin: 11px;
    padding: 22px;
    border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}

.js{
    border: 10px solid white;
    margin: 11px;
    padding: 22px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.lrn{
    /* Learn More */
width: 284px;
height: 19px;

/* Auto layout */
display: flex;
border: none;
margin: 24px 0px;

color: rgb(13, 19, 33); 
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;   
}

/* main style end here  */


/* Footer style start from here  */

.footer-banner{
background-image:url(../assets/handshake.jpg);       
    background-position: center;
    background-repeat: no-repeat;  
    opacity: rgb(10, 5, 10);
    height: 314px;
    width: 1040px;
    border-radius: 16px;
    box-sizing: border-box;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 48px 64px 48px;
        
}

.footer-title{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700px;

}

.footer-des{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400px;
}

.input-section{
    text-align: center;
    justify-content: center;
}

.input-text{
    height: 57px;
    width: 548px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
}

.input-btn{
    width: 120px;
    height: 55px;
    border-radius: 8px;
    font-size: 18px;
background: rgb(255, 255, 255);
}

.footer{
    background-color: rgba(247, 247, 247, 0.829);
    justify-content: center;
    display: flex;
    margin: 29px;
    gap: 333px;
    justify-content: center;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 106px;
}

.footer-icon{
    margin-top: 12px;
    margin-right: 22px;
    justify-content: space-between;
}

/* Footer End Here  */
